@charset "UTF-8";

body{
    background-color: rgb(117, 113, 113);
    padding: 0px;
    margin: 0px;
}

input{
    background-color: rgb(218, 215, 215);
    width: 220px;
}

h1{
    display: flex;
    gap: 0px, 100px;
    padding-top: 0px;
}

form{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
}